examples/Example.json
[
    {
        "id": "7c32d00444fbc56e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3f20c7b226a3424",
        "type": "iterator",
        "z": "7c32d00444fbc56e",
        "name": "",
        "count": 5,
        "interval": "1000",
        "completeFlow": "99",
        "x": 360,
        "y": 400,
        "wires": [
            [
                "43761afac8be7ad9",
                "30e3f92496eacd40"
            ]
        ]
    },
    {
        "id": "e8ddfdce852e3773",
        "type": "inject",
        "z": "7c32d00444fbc56e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "count",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "f3f20c7b226a3424"
            ]
        ]
    },
    {
        "id": "c3a8eb6318242dd1",
        "type": "debug",
        "z": "7c32d00444fbc56e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "iteration",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 540,
        "wires": []
    },
    {
        "id": "43761afac8be7ad9",
        "type": "switch",
        "z": "7c32d00444fbc56e",
        "name": "Complete",
        "property": "iteration",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "complete",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 400,
        "wires": [
            [
                "adc433b7dd05c960"
            ]
        ]
    },
    {
        "id": "adc433b7dd05c960",
        "type": "debug",
        "z": "7c32d00444fbc56e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "iteration",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "30e3f92496eacd40",
        "type": "switch",
        "z": "7c32d00444fbc56e",
        "name": "Cycyle",
        "property": "iteration",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "complete",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 540,
        "wires": [
            [
                "c3a8eb6318242dd1"
            ]
        ]
    }
]